@page "/settings"

<div class="p-2">
	<button disabled=@IsDeleteTweetButtonDisabled onclick=@DeleteTweetDataAsync type="button" class="btn btn-danger">
		Delete Tweet Data
	</button>
	<p>Size on disk: @TweetDataFileSize MB</p>

	<p class="text-center font-italic">Sean Edwards 2023</p>
</div>

@code {
	private bool TweetFileExists => File.Exists(Constants.TweetsByYearFile);
	private bool IsDeleteTweetButtonDisabled => !TweetFileExists;
	private double TweetDataFileSize => TweetFileExists
		? Math.Round(Directory.GetFiles(FileSystem.Current.AppDataDirectory).Sum(x => new System.IO.FileInfo(Path.Combine(FileSystem.Current.AppDataDirectory, x)).Length) / Math.Pow(2, 20), 2)
		: 0;

	private async Task DeleteTweetDataAsync()
	{
		var deleteData = await Application.Current.MainPage.DisplayAlert("Delete?", "Are you sure want to delete your tweet data?", "Yes", "No");

		if(deleteData)
		{
			File.Delete(Constants.TweetsByYearFile);
			File.Delete(Constants.ProfilePictureFile);
		}
		
	}
}
