@page "/settings"

<div class="p-2">
	<button disabled=@_isDeleteTweetButtonDisabled onclick=@DeleteTweetDataAsync type="button" class="btn btn-danger">
		Delete Tweet Data
	</button>
	<p>Size on disk: @_tweetDataFileSize MB</p>

	<p class="text-center font-italic">Sean Edwards 2023</p>
</div>

@code {
	private bool _tweetFileExists => File.Exists(Constants.TweetsByYearFile);
	private bool _isDeleteTweetButtonDisabled => !_tweetFileExists;
	private double _tweetDataFileSize => _tweetFileExists
		? Math.Round(new System.IO.FileInfo(Constants.TweetsByYearFile).Length / Math.Pow(2, 20), 2)
		: 0;

	private async Task DeleteTweetDataAsync()
	{
		var deleteData = await Application.Current.MainPage.DisplayAlert("Delete?", "Are you sure want to delete your tweet data?", "Yes", "No");

		if(deleteData)
			File.Delete(Constants.TweetsByYearFile);
	}
}
