html body {
    font-family: "Roboto", "Arial", serif;
}

.tweet-time {
    text-align: center;
    font-size: small;
}

.tweet-text {
    text-align: center;
    font-size: large;

}

.tweet-link {
    font-size: 14px;
    user-select: none;
    text-align: right;
    text-decoration: none;
}

.tweet {
    border: 2px solid #455a64;
    border-radius: 5px;
    box-sizing: border-box;
    margin: 15px;
    padding: 10px;
    margin-bottom: 20px;
}

img {
    max-height: 80%;
    max-width: 80%;
}

.image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

video {
    margin: 10px;
}

div {
    user-select: none;
}

p {
    margin: 10px;
}