.tweet-year {
    font-family: 'Roboto';
    padding: 10px 0 10px 0;
    position: sticky;
    top: 0px;
}

.tweet-count {
    font-family: 'Roboto';
    font-size: 14px;
    text-align: center;
    padding-bottom: 2px;
    margin: 5px 0 0 0;
    z-index: -1;
    top: -10px;
    position: relative;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent;
}

p {
    margin: 10px;
}

div {
    user-select: none;
}