@using TweetsOnThisDay.Models;

<div class="tweet-year" style="background-color: @BackgroundColour">
	<h2>~ @Year.ToString() ~</h2>
</div>
<div class="tweet-count" style="background-color: @BackgroundColour">
	<p class="text-body-secondary">@Tweets.Count.ToString() tweet@(Tweets.Count > 1 ? "s" : string.Empty)</p>
</div>

@foreach (var tweet in Tweets)
{
	<Tweet TweetContent=@tweet />
}

@code {
	[Parameter]
	public List<TweetModel> Tweets { get; set; }

	[Parameter]
	public int Year { get; set; }

	[Parameter]
	public string BackgroundColour { get; set; } = "white";
}
