<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">@_selectedPage</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All" @onclick="(() => SetHeaderTitle(TweetsOnThisDay))">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="settings" @onclick="(() => SetHeaderTitle(Settings))">
                <span class="oi oi-cog" aria-hidden="true"></span> Settings
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private const string Settings = "Settings";
    private const string TweetsOnThisDay = "Tweets On This Day";

    private bool CollapseNavMenu = true;
    private string _selectedPage;

    private string NavMenuCssClass => CollapseNavMenu ? "collapse" : null;

    protected override void OnInitialized()
    {
        _selectedPage = TweetsOnThisDay;
    }

    private void ToggleNavMenu()
    {
        CollapseNavMenu = !CollapseNavMenu;
    }

    private void SetHeaderTitle(string pageName)
    {
        _selectedPage = pageName;
    }
}
